aws_region   = "ap-south-1"
project_name = "ecs-react-devops"
environment  = "dev"

alert_email = "YOUR_EMAIL@example.com"

# GitHub owner/name used by the OIDC trust policy.
github_org  = "YOUR_GITHUB_USERNAME_OR_ORG"
github_repo = "YOUR_REPOSITORY_NAME"

app_environment = {
  APP_ENV = "production"
}
